@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Varela+Round&display=swap");

main {
  width: 100%;
  height: 100vh;
  /* 실제 보여지는 전체 영역 스크롤 같은 거 제외하고 그
  한 화면에 전체적으로 보여지는 그 영역의 50% 값. 즉 스크롤을 아래로 해서
  내린다면 main 요소는 위로 올라가서 감춰지게 된다.
  크롬 창 자체가 줄어든다고 하면, 당연히 보여지는 면적도 줄어들기 때문에
  vh 값도 줄어들게 된다. */
  color: white;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("images/me.jpg") center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  /* pg 286 */
  align-items: center;
  text-align: center;
}

main h4 {
  font-size: 2rem;
}

main h2 {
  font-size: 3.5rem;
  margin: 2rem 0;
  letter-spacing: 3px;
}

main p {
  max-width: 500px;
  /* 창 크기가 줄어들면 500px 아래로 줄어들기는 하는데 max값은 500px */
  margin: 0 auto;
  font-size: 1.25rem;
}

main button.download {
  background-color: transparent;
  border: 3px solid white;
  border-radius: 20px;
  padding: 1rem 2rem;
  margin-top: 3rem;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

main button.mouse {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 2rem;
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  animation: upDown 1s ease-in-out infinite;
  cursor: pointer;
}
@keyframes upDown {
  0% {
    bottom: 1rem;
  }
  50% {
    bottom: 1.5rem;
  }
  100% {
    bottom: 1rem;
  }
}

main h2 span::after {
    content: "";
    height: 40px;
    width: 3px;
    background-color: #fff;
    display: inline-block;
    animation: blink .7s ease-in-out infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

main h2 {
    letter-spacing: 3px;
    font-family: "Varela Round", sans-serif;
}

/* header {
    position: fixed;
    color: white;
} */

/* header nav ul li button {
    color: white;
} */


/* About Me */
section {
    font-family: "Poppins", sans-serif;
    padding: 5rem 0;
}
section:nth-child(2n) {
    background-color: #f8f8f8;
}

section .title {
    margin-bottom: 3rem;
}

section .title h4 {
    font-size: 1.35rem;
    color: #ed4848;
    position: relative;
}

section .title h2 {
    font-size: 3.5rem;
}

section .title p {
    font-size: 1.15rem;
}

section .about-self::after {
    content: "";
    clear: both;
    display: block;
}

section .about-self .left img {
    max-width: 100%;
}

section .about-self .left {
    width: 50%;
    float: left;
}

section .about-self .right {
    width: 50%;
    float: left;
    padding: 0 2rem;
}

section .about-self .right h3 {
    font-size: 2.25rem;
    margin-bottom: 1rem;
}

setion .about-self .right h3 strong {
    color: #ed4848;
}

section .about-self .right p {
    font-size: 1.15rem;
    margin: 1rem 0;
}

section .about-self .right .social a {
    font-size: 2.5rem;
    margin-right: 0.2rem;
}


/* What I do */
section .do-me::after {
  content: "";
  display: block;
  clear: both;
}

section .do-me .do-inner {
  background-color: #fff;
  width: 30%;
  padding: 2rem;
  /* width 값은 부모의 content 요소 값을 따라가는데, 
  그 30%의 값에 padding: 2rem 값이 포함되어서 현재 이 요소에 지정된다.
  즉 width + padding을 해야 부모 content 값의 30%가 된다. */
  float: left;
  margin-right: 5%;
  cursor: pointer;
}

section .do-me .do-inner:last-child {
  margin-right: 0;
}

section .do-me .do-inner .icon i {
  font-size: 2.5rem;
  color: #ff6a6a;
}

section .do-me .do-inner .content h3 {
  font-size: 2rem;
  margin: 1rem 0;
}

section .do-me .do-inner .content p {
  font-size: 1.15rem;
}

section .do-me .do-inner:hover {
  background-color: lightcoral;
  color: white;
}

section .do-me .do-inner:hover {
  color: white;
}

/* background */
.bg {
  background: url('./images/background.jpg') center center;
  background-size: cover;
  background-attachment: fixed;
  /* background image는 view port 뒷단에 항상 고정되어 있어 움직이지 않는다. */
  height: 650px;
  /* 고정되어 있는 그 이미지가 height으로 설정해준 650px 높이정도만 보이게 된다.
  즉 background 이미지가 viewport width, height를 전체 다 꽉 채워서 존재는 하는데, 그 보이게 되는영역이
  여기 height 로 설정해둔 650px 만큼만 보이는 거고, 다른 위의 요소나 아래 요소를 가리거나 하지는 않는다. */
}

/* portfolio */
section.portfolio div.portfolio-me::after {
  content: "";
  display: block;
  clear: both;
}

/* section.portfolio::after {
  content: "";
  display: block;
  clear: both;
} */

section.portfolio .portfolio-inner {
  width: 30%;
  margin-right: 5%;
  padding: 1rem 1rem 1.5rem 1rem;
  float: left;
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  margin-bottom: 3rem;
}

section.portfolio .portfolio-inner:nth-child(3n) {
  margin-right: 0px;
}

section.portfolio .portfolio-inner img {
  /* 부모 요소의 크기를 넘지 못하도록 100%로 고정 */
  width: 100%;
  display: block;
}

section.portfolio .portfolio-inner strong {
  color: #ff6a6a;
  margin: 0.5rem 0;
  display: block;
}

section.portfolio .portfolio-inner h3 {
  font-size: 1.75rem;
}


/* Contact with me */
section.contact .contact-me::after {
  content: "";
  display: block;
  clear: both;
}

section.contact .contact-me .left {
  width: 30%;
  float: left;
}

section.contact .contact-me .right {
  float: left;
  width: 65%;
  margin-left: 5%;
}

section.contact .contact-me .left .card {
  border: 1px solid #ccc;
  padding: 1rem;
  display: flex;
  /* 자신의 실제 크기 , 즉 자식으로 인해 결정되는 실제 크기만큼만 차지하여
  y축 기준으로 중앙 정렬한다.  */
  align-items: center;
  margin-bottom: 1.25rem;
  flex-wrap: wrap;
}

section.contact .contact-me .left .card .icon i {
  font-size: 2rem;
  margin-right: 15px;
}

section.contact .contact-me .right {
  float: left;
  width: 65%;
  margin-left: 5%;
  margin-bottom: 2rem;
  border: 1px solid #ccc;
  padding: 1rem;
}

section.contact .contact-me .right .form-group {
  margin-bottom: 1.25rem;
}

section.contact .contact-me .right .form-group label {
  display: block;
  margin-bottom: 0.85rem;
}

section.contact .contact-me .right .form-group input {
  padding: 0.625rem;
  width: 100%;
  outline: none;
  border: 1px solid #ccc;
  border-radius: 10px;
}

section.contact .contact-me .right .form-group input:focus {
  border: 1px solid #719ECE;
  box-shadow: 0 0 10px #719EcE;
}

section.contact .contact-me .right .form-group textarea {
  height: 300px;
  width: 100%;
  resize: none;
  border: 1px solid #ccc;
  border-radius: 10px;
}

section.contact .contact-me .right .form-group textarea:focus {
  outline: none;
  border: 1px solid #719ECE;
  box-shadow: 0 0 10px #719ECE;
}

section.contact .contact-me .right button {
  width: 100%;
  padding: 1rem;
  background-color: #F78B00;
  border: none;
  color: white;
}


/* 반응형 쿼리 start... */
@media screen and (max-width:1140px) {
  * {
    color: red;
    /* 1140px을 초과하면 이 color red가 disabled 된다.
    즉 1140px 이하의 값을 가질때는 계속 이 color 값은 red로 유지된다.
    중요한 사실! */
  }
  main .container {
    width: 992px;
  }
  section .container {
    width: 600px;
  }
  section .about-self .left {
    width: 100%;
    margin-bottom: 1.5rem;
  }
  section .about-self .right {
    width: 100%;
    padding: 0px;
  }
  section .do-me .do-inner {
    width: 48%;
    margin-bottom: 1.5rem;
    margin-right: 0px;
  }
  section .do-me .do-inner:nth-child(2n + 1) {
    margin-right: 4%;
  }
  section.contact .contact-me .left {
    width: 100%;
  }
  section.contact .contact-me .right {
    width: 100%;
    margin-left: 0px;
  }
}

@media screen and (max-width:992px) {
  html {
    font-size: 14px;
    /* rem 의 기준이 되는 html의 font-size 값... */
  }
  main .container {
    width: 768px;
  }
  section .portfolio-me .portfolio-inner {
    width: 100%;
  }
}

@media screen and (max-width:768px) {
  html {
    font-size: 13px;
  }
  main .container {
    width: 576px;
  }
  section .container {
    width: 400px;
  }
  section .do-me .do-inner {
    width: 100%;
    margin-right: 0px;
  }
}

@media screen and (max-width:576px) {
  html {
    font-size: 13px;
  }
  main .container {
    width: 400px;
  }
  section .container {
    width: 360px;
  }
}

@media screen and (max-width:400px) {
  html {
    font-size: 12px;
  }
  main .container {
    width: 320px;
  }
  section .container {
    width: 320px;
  }
  main h4 {
    font-size: 1.5rem;
  }
  section .title h2 {
    font-size: 3rem;
  }
}
